<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>{{ author }} LEDs</title>
  </head>
  <body>
    <h2 style="text-align: center;">
      Led Verde</h2>
    <form action="/" method="post">
      <p style="text-align: center;">
        <input name="submit" type="submit" value="Ligar" /></p>
      <p style="text-align: center;">
        <input name="submit" type="submit" value="Desligar" /></p>
        <p style="text-align: center;">
          <h2 style="text-align: center;">
      Lampada</h2>
      <p style="text-align: center;">
        <input name="submit" type="submit" value="Ligar2" /></p>
      <p style="text-align: center;">
        <input name="submit" type="submit" value="Desligar2" /></p>
       <h2 style="text-align: center;">
      Insira um Texto</h2>
      <p style="text-align: center;">
        <input name="text" type="text" value="" /></p>
    </form>
    <p>
      &nbsp;</p>
  </body>
</html>
